#service
  .no-marg
    margin: 0
    .col
      padding: 0
  background-color: #00D664
  .title-underline
    &:after
      background-color: #ffffff
  .container
    width: 90%
    .title-row
      margin-bottom: 10px
      .page-title
          font-size: 3em
          color: #ffffff
          font-family: Montserrat
          font-weight: 800
          &.small
            font-size: 2em
    #technologies
      .btn,.blog-btn
        background-color: #ffffff
        color: #000000
        margin-top: 3.5px
      .tech-wrapper
        background: #ffffff
        border-radius: 10px
        padding: 10px 10px 0 10px
        padding: 10px 10px 0 10px
        margin-bottom: 10px
        .tech-card
          margin: auto
          max-width: fit-content
          vertical-align: middle
          .img-wrapper 
            margin: 0 10px 10px
            @media #{$medium-and-down}
              margin: 0 0px 10px
            vertical-align: middle
            display: inline-block
            height: 50px
            img
              height: 100%
          .text
            vertical-align: middle
            display: inline-block
            line-height: 50px
            color: #000000
            font-family: Montserrat
            padding-bottom: 10px
            font-weight: 400
    .card-row
      margin-bottom: 60px
      .card
        height: 420px
        @media #{$medium-and-down}
          height: 360px
        @media #{$small-and-down}
          height: auto
        border-radius: 15px
        padding: 10px 15px
        box-shadow: 0 0 50px rgba(0,0,0,0.1)
        .icon-wrapper
          margin: 5px 0
          .icon
            margin: 30px auto
            width: 50px
            height: 50px
            position: relative
            img
              height: 100%
        .title
          text-align: center
          font-family: Montserrat
          font-weight: 600
          font-size: 1.3em
           color: #404040
          height: 79px
          padding: 15px 0 10px
        .content
          margin-bottom: 10px
          text-align: center
          color: #646464
          font-family: Montserrat
          font-weight: 400